<div class="home-info">
    <h1>Meteorama</h1>
    <p>Renseignez votre ville</p>
    <div class="search-container w-70">
        <input class="cities-input" type="text" [formControl]="searchControl" placeholder="Rechercher une ville...">
        <button class="cities-button" type="submit" (click)="searchWeather(localisation)">
            Me localiser
            <i class="fa-solid fa-location-crosshairs"></i>
        </button>
    </div>
    <div class="w-70">
        <div class="search-result">
            <ul *ngIf="searchControl.value && filteredCities && filteredCities.length > 0" class="dropdown">
                @for (city of filteredCities; track city.label) {
                    <li>{{city.label}}</li>
                }
            </ul>
        </div>
    </div>
</div>

<div>
    <ng-container>
        {{weather}}
    </ng-container>
</div>
